@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

img{
  display: block;
  max-width: 100%;
}

h1{
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 4px 0;
  margin: 1rem 0 2rem 0;
}

h2, h3{
  font-weight: inherit;
  color: #444;
}

h2{
  margin-top: 0;
  letter-spacing: .2rem;
}

h3{
  margin: 0;
  font-size: 1.25rem;
}


.VehicleList {
  width: 100%;

  .vehicle{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 2px #ccc;
    .vehicle__info{
      margin: 1rem 0;
      text-align: center;
    }
  }
}

//Media Queries
@media screen and (min-width: 600px) and (max-width: 767px){
  .VehicleList {  
    .vehicle{
      flex-direction: row;
      column-gap: 20px;
      align-items: center;
      .vehicle__img{
        flex: 0 0 auto;
        width: 33.33%;
      }
      .vehicle__info{
        flex: 0 0 auto;
        text-align: left;
        h1{
          display: block;
          border: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
} 

@media screen and (min-width: 768px){
  .VehicleList{
    display: flex;
    flex-flow: row wrap;
    .vehicle{
      width: 50%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1024px){
  .VehicleList{
    .vehicle{
      width: 33.33%;
    }
  }
}

@media screen and (min-width: 1600px){
  .VehicleList{
    .vehicle{
      width: 25%;
    }
  }
}
